* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Cinzel', serif;
    background-color: #151515;
}

.container {
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.water {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 29vh;
    right: 0;
    z-index: 19;
}

.mountain-left {
    position: absolute;
    bottom: 155px;
    width: 68vw;
    height: 31vh;
    left: 0;
    z-index: 17;
}

.mountain-right {
    position: absolute;
    bottom: 140px;
    height: 28vh;
    width: 43vw;
    right: 0;
    z-index: 18;
}

.sky {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 74vh;
    z-index: 16;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 30;
    background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.logo span {
    font-weight: 400;
}

.hamburger {
    position: absolute;
    top: 0.55rem;
    right: 3.8rem;
    display: block;
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}

.hamburger .bar, .hamburger::before, .hamburger::after {
    display: block;
    content:"";
    width: 100%;
    height: 5px;
    background-color:#fff;
    margin: 6px 0;
    transition: 0.6s;
}

.hamburger.is-active::after {
    transform: rotate(-45deg) translate(6px, -8px);
}

.hamburger.is-active::before {
    transform: rotate(45deg) translate(8px, 10px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.nav-items {
    margin: 0 2rem;
    position: absolute;
    top: 1.4rem;
    right: 7rem;
    opacity: 0;
    transition: 0.6s ease-out;
    text-transform: uppercase;
}

.nav-items.is-active {
    opacity: 1;
    transition: 0.6s linear;
}


a {
    margin: 10px;
    text-decoration: none;
    color: #fff;
    cursor: default;
}

.footer-links {
    margin-bottom: 3rem;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


a:hover {
    color: #924bc4;
    transition: 0.2s;
}

.big-title {
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
}

section {
    width: 100%;
    background-color: #151515;
    position: relative;
}

section .container {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section img {
    width: 100%;
}

section .container > *{
    margin: 2rem;
}

.content {
    color: #fff;
    transform: translateY(-50px);
}

.text {
    text-indent: 1.5rem;
}

.imgContainer {
    transform: translateY(50px);
}

.title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;
}

.border {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.shadow {
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    z-index: 20;
    background: linear-gradient(to top, #151515, transparent);
}

.opacity {
    opacity: 0;
}

@media only screen and (max-width: 620px) {
    .mountain-right {
        min-width: 64vw;
    }

    .mountain-left {
        min-width: 95vw;
        bottom: 165px;
    }

    .footer-links {
        display: none;
    }

    section .container {
        grid-template-columns: 1fr;
    }
    
    .big-title {
        font-size: 3rem;
    }

    .text {
        font-size: 0.8rem;
    }

    .title {
        font-size: 1.2rem;
    }

    .about-container {
        margin: 0 2rem;
        width: 80%;
    }

    .hamburger {
        position: absolute;
        top: 1.6rem;
        width: 35px;
        height: 35px;
    }

    .nav-items {
        position: relative;
        display: block;
        right: 0.5rem;
        top: 2.8rem;
        text-align: right;
    }

    .logo {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 420px) {
    .mountain-left {
        min-width: 65%;
    }

    .mountain-right {
        min-width: 43%;
    }
}

@media only screen and (min-height: 768px) {
    .mountain-left {
        bottom: 195px;
    }

    .mountain-right {
        bottom: 155px;
    }
}

@media only screen and (min-height: 1080px) {
    .mountain-left {
        bottom: 395px;
    }

    .mountain-right {
        bottom: 310px;
    }
}
